<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.learnandroidlifetime" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/empty_note"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroidLifetime" >
        <activity
            android:name=".MainActivityCustomListView"
            android:exported="true" />
        <activity
            android:name=".MainActivityAlertDialogLab"
            android:exported="true" />
        <activity
            android:name=".MainActivityListViewLab"
            android:exported="true" />
        <activity
            android:name=".MainActivityListView"
            android:exported="true" />
        <activity
            android:name=".MainActivityDemoEvent"
            android:exported="true" />
        <activity
            android:name=".MainActivityAlert"
            android:exported="true" />
        <activity
            android:name=".MainActivityDemoRelativeLayout"
            android:exported="true" />
        <activity
            android:name=".MainActivityDemoIntent"
            android:exported="true" />
        <activity
            android:name=".MainActivityDemoToast"
            android:exported="true" />
        <activity
            android:name=".MainActivityImage"
            android:exported="true" />
        <activity
            android:name=".MainActivityLab"
            android:exported="false" />
        <activity
            android:name=".MainActivityBMI"
            android:exported="true" />
        <activity
            android:name=".MainActivityRandom"
            android:exported="true" />
        <activity
            android:name=".MainActivityNhietDo"
            android:exported="true" />
        <activity
            android:name=".MainActivityMath"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>